*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 300;
    color: #525f7f;
}

.button{
    font-size: 15px;
    font-weight: 700;
    line-height: 2.9;
     color: #fff;
     border-radius: 3px;
     background-color: #845cff;
     box-shadow: -6.691px 7.431px 20px 0px rgba(132, 92, 255, 0.2);
     border: none;
     padding: 0 10px;
     text-transform: uppercase;
}
.section__title{
    font-size: 48px;
    color: #32325d;
}
.section__text{
    font-size: 23px;
    line-height: 2;
}
/* Контейнер */
.container{
    padding: 0 10px;
    max-width: 1240px;
    margin: 0 auto;
}

/* Шапка сайта */
.header{
    padding-top: 45px;
    padding-bottom: 205px;
    background: url('../img/bg-header.jpg');
    background-repeat: no-repeat;
}
.header-nav__link{
    font-size: 19px;
    font-weight: 700;
    color: #32325d;
    padding: 10px;
    margin-right: 50px;
}
.header-nav__link:hover{
    color: #fff;
    border-radius: 3px;
    background-color: #845cff;
    box-shadow: -6.691px 7.431px 20px 0px rgba(132, 92, 255, 0.2);
    text-decoration: none;
}
.header-nav__link_purple{
    color: #fff;
    border-radius: 3px;
    background-color: #845cff;
    box-shadow: -6.691px 7.431px 20px 0px rgba(132, 92, 255, 0.2);
    margin-right: 0;
}
.hero{
    margin-top: 275px;
    max-width: 475px;
}
.hero__title{
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    color: #32325d;
}
.hero__text{
    font-size: 23px;
    line-height: 2;
}
.hero__link{
    margin-left: 70px;
    font-size: 19px;
    font-weight: 400;
    line-height: 2.45;
    color: #32325d;
}
.hero__link:hover{
    text-decoration: none;
}
.hero__btn{
    margin-top: 40px;
}

/* Секция о нас */
.about{
    position: relative;
    top: -150px;
    z-index: 33;
}
.about__title{
    margin-top: 210px;
    margin-bottom: 40px;
}
.about-card{
    margin-bottom: 50px;
    height: 480px;
    padding: 60px 60px 100px 60px;
    border-radius: 10px;
    box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
    background-color: #fff;
}

.about-card__title{
    font-size: 30px;
    margin: 30px 0;
    color: #32325d;
}
.about-card__text{
    font-size: 18px;
    line-height: 1.6;
}

/* Услуги */
.services{
    background: url('../img/bg-services.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;

}
.services-row{
    margin-top: 145px;
}
.services-cards{
    margin-bottom: 170px;
}
.services-cards__title{
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
     color: #32325d;
}
.services-cards__text{
    font-size: 16px;
    line-height: 1.5;
}